.info {
    background-color: #019fe2;
    margin-top: 10%;
    border-radius: 25px;
}

.logoContainer {
    display: flex;
    justify-content: center;
}

.logo {
    position: relative !important;
    height: 250px;
}

.form {
    position: relative;
    top: -50px;
}

.form input {
    margin: 10px 0;
}

.contenedorRB {
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: #e5e7eb;
    border-radius: 0.75rem;
}

.confirmContainer {
    position: relative;
    right: 25px !important;
    display: flex;
    justify-content: center;
}

.eyePass {
    position: relative;
    margin-top: 5% !important;
    cursor: pointer;
}

/*Telefonos*/
@media (max-width: 600px) {
    .eyePass {
        margin-left: 45%;
    }
}

.btnReiniciar {
    margin: 25px 0 25px 25%;
    box-sizing: border-box;
    font-family: inherit;
    padding: 0px 20px 0 20px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #030154;
    color: #ffffff;
}

.btnReiniciar:active,
.btnReiniciar:visited,
.btnReiniciar:hover {
    box-sizing: border-box;
    font-family: inherit;
    padding: 0px 20px 0 20px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #d50000;
    color: #ffffff;
}

/*Tablets*/
@media screen and (min-width: 600px) and (max-width: 992px) {
    .btnReiniciar {
        margin-left: 34%;
    }
}
